@import '../../styles';

.history-box {
    margin-top: 0px;
    background-color: $grey_light;

    .entry {
        padding: 15px;
        border-bottom: 2px solid white;

        .done {
            color: $blue;
            font-weight: bold;
        }

        .right {
            color: $grey_dark;
        }
    }
}