<div class="row" *ngFor="let server of itemWorkflow; let i = index">
    <div class="col-5" style="padding-bottom: 5px">
        {{server.old_name}}
    </div>
    <div class="col-1">
        <i style="margin-top:12px" class="fa fa-chevron-right"></i>
    </div>
    <div class="col-6" style="padding-bottom: 5px">
        <div>
            <searchfield
                [elements]="serverList"
                [content]="server.new_name"
                (contentChange)="contentChanged(i, $event)"
                [type]="'server'">
            </searchfield>
        </div>
    </div>
</div>