@import '../../styles';

.menu {
    background-color: $blue_light;
    color: $grey_light;
    min-height: 100vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;

        li {
            border-bottom: 1px solid $grey_light;
            i {
                margin-right: 10px;
                font-size: 20px;
            }
        }

        li.header {
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            font-weight: bold;
            font-size: 20px;
            cursor: default;
            background-color: $blue;
            color: white !important;
        }

        li.item, li.item a {
            cursor: pointer;
            color: $grey_light;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            transition: all 0.5s;
            border-left: none;
        }

        li.item.selected, li.item:hover {
            background-color: $blue;
            color: $grey_light;
            border-left: 4px solid $grey;
            transition: 0.5s;
        }

        li.item:hover {
            background-color: $blue;
        }
    }
}