<div class="row">
    <div class="col-12">
        <h1>
            <i class="fa fa-server"></i> {{'server'|translate}} ({{servers.length}})
            <popup-server (onSave)="getServerById($event)" style="float:right"></popup-server>
        </h1>
        <hr/>
    </div>
    <div class="col-8" style="height:85vh; overflow-y: hidden;">
        <span (click)="changeFilter('open')"
            [ngClass]="{'selected':chosenFilter=='open'}"
            class="badge badge-secondary badge-filter-4">
            {{'open'|translate}}
        </span>

        <span (click)="changeFilter('progress')"
            [ngClass]="{'selected':chosenFilter=='progress'}"
            class="badge badge-secondary badge-filter-4">
            {{'progress'|translate}}
        </span>

        <span (click)="changeFilter('done')"
            [ngClass]="{'selected':chosenFilter=='done'}"
            class="badge badge-secondary badge-filter-4">
            {{'done'|translate}}
        </span>

        <span (click)="changeFilter('error')"
            [ngClass]="{'selected':chosenFilter=='error'}"
            class="badge badge-secondary badge-filter-4">
            {{'error'|translate}}
        </span>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th (click)="filterTableByAttribute('name', false, '')"
                        style="text-align: center; width:15%; overflow-wrap: break-word;">
                        {{'name'|translate}}
                        <i *ngIf="filterName==='name' && filterOrder" class="fa fa-chevron-down"></i>
                         <i *ngIf="filterName==='name' && !filterOrder" class="fa fa-chevron-up"></i>
                    </th>
                    <th (click)="filterTableByAttribute('type', false, '')"
                        style="width: 12%; text-align: center; overflow-wrap: break-word;">
                        {{'type'|translate}}
                        <i *ngIf="filterName==='type' && filterOrder" class="fa fa-chevron-down"></i>
                         <i *ngIf="filterName==='type' && !filterOrder" class="fa fa-chevron-up"></i>
                    </th>
                    <th (click)="filterTableByAttribute('attributes', false, 'verbleib_selected')"
                        style="text-align: center; width:10%; overflow-wrap: break-word;">
                        {{'Verbleib'|translate}}
                        <i *ngIf="filterName==='verbleib_selected' && filterOrder" class="fa fa-chevron-down"></i>
                        <i *ngIf="filterName==='verbleib_selected' && !filterOrder" class="fa fa-chevron-up"></i>
                    </th>
                    <th (click)="filterTableByAttribute('attributes', false, 'arbeitspaket_selected')"
                        style="text-align: center; width:20%; overflow-wrap: break-word;">
                        {{'Arbeitspaket'|translate}}
                        <i *ngIf="filterName==='arbeitspaket_selected' && filterOrder" class="fa fa-chevron-down"></i>
                        <i *ngIf="filterName==='arbeitspaket_selected' && !filterOrder" class="fa fa-chevron-up"></i>
                    </th>
                    <th style="text-align: center; ">
                        <i (click)="filterTableByAttribute('attributes_length', false, '')"
                        class="fa fa-info"></i>
                        <i *ngIf="filterName==='attributes_length' && filterOrder" class="fa fa-chevron-down"></i>
                         <i *ngIf="filterName==='attributes_length' && !filterOrder" class="fa fa-chevron-up"></i>
                    </th>
                    <th style="text-align: center; ">
                        <i (click)="filterTableByAttribute('applications', true, '')"
                        class="fa fa-desktop"></i>
                        <i *ngIf="filterName==='applications' && filterOrder" class="fa fa-chevron-down"></i>
                         <i *ngIf="filterName==='applications' && !filterOrder" class="fa fa-chevron-up"></i>
                    </th>
                    <th style="text-align: center; ">
                        <i (click)="filterTableByAttribute('inventory', false, '')"
                        class="fa fa-list"></i>
                        <i *ngIf="filterName==='inventory' && filterOrder" class="fa fa-chevron-down"></i>
                         <i *ngIf="filterName==='inventory' && !filterOrder" class="fa fa-chevron-up"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr (click)="getServer(i)"
                        class="item"
                        [ngClass]="{'marked': tableIndex==i}"
                        *ngFor="let server of servers; let i = index;">

                    <td>{{i+1}}</td>
                    <td style="text-align: center; width:15%; overflow-wrap: break-word;">{{server.name}}</td>
                    <td style="width: 12%; text-align: center; overflow-wrap: break-word;">{{server.type|translate}}</td>
                    <td style="text-align: center; width:10%; overflow-wrap: break-word;">{{server.attributes.verbleib_selected|translate}}</td>
                    <td style="text-align: center; width:20%; overflow-wrap: break-word;">{{server.attributes.arbeitspaket_selected|translate}}</td>
                    <td class="text-right" style="text-align: center; ">{{server.attributes_length}}</td>
                    <td class="text-right" style="text-align: center; ">{{server.applications.length}}</td>
                    <td style="text-align: center; "><i *ngIf="server.inventory" class="fa fa-check"></i></td>
                </tr>
            </tbody>
       </table>
    </div>
    <div *ngIf="server" class="col-4" style="height:85vh; overflow-y: scroll;">
        <server-info (notifyParent)='reloadServer()' [server]="server"></server-info>
    </div>
</div>
